version: '3'
services:
        web:
                image: flask_open
                build: .
                env_file:
                        - .env # This file is optional; defaults will be used if it does not exist
                ports:
                        - "8402:8402"
                volumes:
                        - ./instance:/app/instance
                restart: unless-stopped